In [29]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [30]:
from game_analysis import *

In [31]:
timeout=1000
amount_of_agents=2
food_found = 0
while food_found < 0.4*timeout:
    g=Game(timeout,amount_of_agents)
    g.game_loop()
    food_found=g.robots[1].logs["food_found"]
    print(food_found)

616

In [32]:
a = GameAnalysis(g)    

robdf = a.print_data()

In [33]:
robdf

      food found  interactions had
name
A              0              1000
B            616              1000

In [34]:
# for i in range(-1,-20,-1):
#     a.plot_robot_paths(i-1,i)
# a.plot_robot_paths()

In [35]:
yeet = a.show_instructions()
yeet

,0,1,2
0,"[(1, 7), (1, 1), (1, 9), (1, 9), (1, 9), (1, 9...","[(1, 4), (1, 4), (0, 7), (0, 7), (0, 7), (0, 7...",False
1,"[(0, 7), (1, 6), (1, 1), (0, 4), (0, 2), (1, 4...","[(0, 3), (0, 1), (1, 5), (1, 9), (1, 7), (1, 9...",False
2,"[(0, 6), (0, 4), (1, 2), (0, 9), (1, 1), (1, 6...","[(0, 8), (0, 1), (1, 9), (1, 7), (0, 5), (0, 4...",False
3,"[(1, 8), (1, 4), (0, 6), (0, 7), (1, 4), (0, 6...","[(0, 8), (1, 6), (0, 1), (0, 5), (1, 6), (0, 1...",False
4,"[(1, 1), (0, 4), (1, 4), (1, 1), (0, 4), (1, 4...","[(1, 2), (0, 4), (0, 7), (1, 2), (0, 4), (0, 7...",False
...,...,...,...
995,"[(0, 5), (0, 9), (1, 4), (0, 2), (0, 8), (0, 2...","[(0, 6), (1, 5), (0, 5), (0, 5), (0, 8), (0, 5...",True
996,"[(0, 9), (1, 4), (0, 2), (0, 8)]","[(1, 5), (0, 5), (0, 5), (0, 8)]",True
997,"[(0, 9), (1, 4), (0, 2), (0, 8)]","[(1, 5), (0, 5), (0, 5), (0, 8)]",True
998,"[(0, 5), (0, 9), (1, 4), (0, 2), (0, 8), (0, 2...","[(0, 6), (1, 5), (0, 5), (0, 5), (0, 8), (0, 5...",True
999,"[(0, 5), (0, 9), (1, 4), (0, 2), (0, 8), (0, 2...","[(0, 6), (1, 5), (0, 5), (0, 5), (0, 8), (0, 5...",True

In [36]:
requester, fetcher = g.robots
df = a.print_vocab_chain(requester, fetcher)
df

,A_input,A_action,A_inertia,A_mistakes,B_input,B_action,B_inertia,B_mistakes
0,"(1,)","(0, 5)",873.0,0.0,"(0, 5)","(0, 6)",873,0
1,"(1, 5)","(0, 5)",0.0,1.0,"(0, 5)","(0, 6)",873,0
2,"(1, 7)","(1, 9)",0.0,2.0,"(1, 9)","(0, 8)",0,2
3,"(1, 1)","(1, 8)",0.0,5.0,"(1, 8)","(0, 8)",0,1
4,"(1, 9)","(1, 3)",0.0,2.0,"(1, 3)","(1, 6)",0,3
5,"(0, 7)","(0, 2)",0.0,1.0,"(0, 2)","(0, 5)",2694,0
6,"(1, 4)","(0, 2)",1821.0,0.0,"(0, 2)","(0, 5)",2694,0
7,"(0, 8)","(0, 2)",873.0,0.0,"(0, 2)","(0, 5)",2694,0
8,"(1, 6)","(0, 6)",0.0,1.0,"(0, 6)","(0, 1)",0,2
9,"(1, 8)","(0, 6)",0.0,1.0,"(0, 6)","(0, 1)",0,2
10,"(0, 4)","(1, 2)",0.0,1.0,"(1, 2)","(0, 5)",0,1
11,"(0, 2)","(0, 8)",2694.0,0.0,"(0, 8)","(0, 8)",2694,0
12,"(0, 1)","(0, 8)",0.0,1.0,"(0, 8)","(0, 8)",2694,0
13,"(0, 6)","(0, 3)",0.0,2.0,"(0, 3)","(1, 6)",0,2
14,"(1, 2)","(1, 4)",0.0,1.0,"(1, 4)","(0, 5)",1866,0
15,"(0, 9)","(1, 4)",1836.0,0.0,"(1, 4)","(0, 5)",1866,0
16,"(0, 3)","(1, 4)",0.0,2.0,"(1, 4)","(0, 5)",1866,0
17,"(1, 3)","(1, 7)",0.0,2.0,"(1, 7)","(1, 8)",0,2
18,"(0, 5)","(0, 9)",873.0,0.0,"(0, 9)","(1, 5)",1836,0
19,"(0,)","(0, 9)",963.0,0.0,"(0, 9)","(1, 5)",1836,0
20,NaN,NaN,NaN,NaN,"(1, 1)","(1, 3)",0,5
21,NaN,NaN,NaN,NaN,"(0, 7)","(0, 1)",0,1
22,NaN,NaN,NaN,NaN,"(1, 6)","(0, 3)",0,1
23,NaN,NaN,NaN,NaN,"(0, 4)","(1, 1)",0,1
24,NaN,NaN,NaN,NaN,"(1, 5)","(0, 8)",0,1
25,NaN,NaN,NaN,NaN,"(0, 1)","(1, 4)",0,1